{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}
  checking
{% endblock title%}

{% block description %}
  {{setting.description}}
{% endblock description %}

{% block keyword %}

{% endblock keyword %}




<!--Header area end wrapper-->
{% block header %}
   {% include 'header.html' %}
{% endblock header %}


 {% block another_content %}
        <!-- Begin Li's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Li's Breadcrumb Area End Here -->
        <!--Checkout Area Strat-->
        <div class="col-lg-6 col-12">
            <div class="your-order">
                <h3>Your order</h3>
                <div class="your-order-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="cart-product-name">Product</th>
                                <th class="cart-product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for p in shoping_cart  %}
                                   
                            <tr class="cart_item">
                              <td class="cart-product-name">{{p.product.title}}<strong class="product-quantity"> ×{{p.quantity}}</strong></td>
                              <td class="cart-product-total"><span class="amount">{{p.amount}}.$</span></td>  
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="cart-subtotal">
                                <th>Cart Subtotal</th>
                                <td><span class="amount">{{total_amount}}.$</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Order Total</th>
                                <td><strong><span class="amount">{{total_amount}}.$</span></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
        <div class="checkout-area pt-60 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="coupon-accordion">
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="checkbox-form">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>First Name <span class="required">*</span></label>
                                            <input placeholder="" type="text" value="{{user.first_name}}" name="first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Last Name <span class="required">*</span></label>
                                            <input placeholder="" type="text" value="{{user.last_name}}" name="last_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Address <span class="required">*</span></label>
                                            <input placeholder="Street address" type="text" value="{{profile.address}}" name="address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Town / City <span class="required">*</span></label>
                                            <input type="text" value="{{profile.city}}" name="city">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Phone  <span class="required">*</span></label>
                                            <input type="text" value="{{profile.phone}}" name="phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Amount<span class="required">*</span></label>
                                            <input type="text" value="{{total_amount}}" name="holder" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                       
                                        <div id="cbox-info" class="checkout-form-list create-account">
                                            <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                            <label>Account password  <span class="required">*</span></label>
                                            <input placeholder="password" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="order-button-payment">
                                    <input value="Place order" type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                   



 {% endblock another_content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
    